@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-Inter font-normal;
}

a {
	@apply inline-block;
}

.container {
	@apply max-w-[1440px] mx-auto;
}

/* core classes */
.title-text {
	@apply text-black text-[72px] font-semibold leading-160 font-Inter tracking-normal;
}

.big-title__text {
	@apply font-GeneralSans font-semibold text-white text-[68px] leading-[150%] tracking-normal;
}

.info {
	@apply text-black font-Inter text-[32px] leading-160 font-normal;
}

.btn {
	@apply font-Inter font-normal leading-160 tracking-normal px-[20px] py-4 rounded-[9.35px] cursor-pointer;
}

.section-number {
	@apply text-[#9D9D9D1C] text-[272px] font-bold leading-[1] ml-[-25px];
}

.section-number__info {
	@apply text-[#BFBFBF] font-bold text-[32px] leading-160 mt-[-32px];
}


/* meida query start */
@media screen and (max-width: 1440px) {
	.container {
		@apply max-w-full px-[30px];
	}
}

@media screen and (max-width: 1150px) {
	.big-title__text {
		@apply text-[50px];
	}
}

@media screen and (max-width: 1280px) {
	.btn {
		font-size: 18px;
	}
}

@media screen and (max-width: 992px) {
	.big-title__text {
		@apply text-[40px] leading-normal;
	}

	.info {
		@apply leading-normal
	}

	.title-text {
		@apply text-[62px] leading-normal
	}
}

@media screen and (max-width: 768px) {
	.section-number {
		font-size: 200px;
	}

	.title-text {
		@apply text-[52px]
	}

	.info {
		font-size: 20px;
	}
}

@media screen and (max-width: 480px) {
	.big-title__text {
		@apply text-[30px];
	}

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn {
		@apply py-[8px] text-[16px]
	}

	.title-text {
		@apply text-[35px]
	}

	.info {
		font-size: 18px;
	}
}